ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 18px;
    text-shadow: black 0.1em 0.1em 0.2em;
    background-color:#2c150da3;
    font-family: 'Titillium Web', sans-serif;
  }
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
   border-bottom: 2px solid white;
   height:18px;
  }

@import url('https://fonts.googleapis.com/css?family=Montserrat');


.title {
	font-family: "Montserrat";
	text-align: center;
	color: #FFF;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	letter-spacing: 1px;
}

h1 {
	background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 80px;
	line-height: .75;
	
}


.white-mode {
	text-decoration: none;
	padding: 7px 10px;
	background-color: #122;
	border-radius: 3px;
	color: #FFF;
	transition: .35s ease-in-out;
	
	left: 15px;
	bottom: 15px;
	font-family: "Montserrat";
}

.white-mode:hover {
	background-color: #FFF;
	color: #122;
}

   fieldset {
    padding:0 20px 20px 20px;
    margin-bottom:10px;
    border:1px solid rgb(124, 85, 0);
    }
   legend {
    color:rgb(0, 0, 0);
    font-weight:bold
    }
   label {
    margin-top:10px;
    display:block;
    }
   label.inline {
    display:inline;
    margin-right:50px;
    }
   input, textarea, select, option {
    background-color:#FFF3F3;
    }
   input, textarea, select {
    padding:3px;
    border:1px solid rgb(73, 0, 0);
    border-radius:5px;
    width:200px;
    box-shadow:1px 1px 2px #C0C0C0 inset;
    }
   select {
    margin-top:10px;
    }
   input[type=radio] {
    background-color:transparent;
    border:none;
    width:10px;
    }
   input[type=submit], input[type=reset] {
    width:100px;
    margin-left:5px;
    box-shadow:1px 1px 1px brown;
    cursor:pointer;
    }
    .formulaire{
        text-align:center;
    }
.contactt{
    padding:0;
    margin:0;
    background-color: rgba(184, 141, 0, 0.5);
}

.realisations{
    padding:0;
    margin:0;
}

  
  .deconstructed {
    position: relative;
    margin: auto;
    height: 0.81em;
    color: transparent;
    font-family: 'Cambay', sans-serif;
    font-size: 7vw;
    font-weight: 700;
    letter-spacing: -0.02em;
    line-height: 0.80em;
    margin-top:5%;
    text-align:center;
    
  }
  
  .deconstructed > div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #616103;
    pointer-events: none;
  }
  
  .deconstructed > div:nth-child(1) {
    -webkit-mask-image: linear-gradient(black 25%, transparent 25%);
    mask-image: linear-gradient(black 25%, transparent 25%);
    animation: deconstructed1 5s infinite;
  }
  
  .deconstructed > div:nth-child(2) {
    -webkit-mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
    mask-image: linear-gradient(transparent 25%, black 25%, black 50%, transparent 50%);
    animation: deconstructed2 5s infinite;
  }
  
  .deconstructed > div:nth-child(3) {
     -webkit-mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
    mask-image: linear-gradient(transparent 50%, black 50%, black 75%, transparent 75%);
    animation: deconstructed3 5s infinite;
  }
  
  .deconstructed > div:nth-child(4) {
     -webkit-mask-image: linear-gradient(transparent 75%, black 75%);
    mask-image: linear-gradient(transparent 75%, black 75%);
    animation: deconstructed4 5s infinite;
  }
  
  @keyframes deconstructed1 {
    0% {
      transform: translateX(100%);
    }
    26% {
      transform: translateX(0%);
    }
    83% {
      transform: translateX(-0.1%);
    }
    100% {
      transform: translateX(-120%);
    }
  }
  
  @keyframes deconstructed2 {
    0% {
      transform: translateX(100%);
    }
    24% {
      transform: translateX(0.5%);
    }
    82% {
      transform: translateX(-0.2%);
    }
    100% {
      transform: translateX(-125%);
    }
  }
  
  @keyframes deconstructed3 {
    0% {
      transform: translateX(100%);
    }
    22% {
      transform: translateX(0%);
    }
    81% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-130%);
    }
  }
  
  @keyframes deconstructed4 {
    0% {
      transform: translateX(100%);
    }
    20% {
      transform: translateX(0%);
    }
    80% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-135%);
    }
  }



























